<p style="color: green"><%= notice %></p>

<div class="row">
  <%= link_to "Back to all files", folders_path %>
</div>

<div class="row">
  <h1><%= @folder.name %></h1>
  <%= link_to "Change name", edit_folder_path(@folder) %>
</div>

<div id="default-version" class="row">
  <h4>Default</h4>
    <% if @folder.default_version %>
      <%= render "versions/version", version: @folder.default_version %>
    <% else %>
      <p class="fst-italic">No default version assigned.</p>
    <% end %>
</div>

<div>
  <%= link_to "Add a new version", new_version_path(folder_id: @folder.id) %>
</div>

<div id="versions">
  <% @folder.versions.each do |version| %>
    <%= render version %>
    <p>
      <%= link_to "Show details", version %>
    </p>
  <% end %>
</div>

<div>
  <%= button_to "Delete this file and all associated versions", @folder, method: :delete %>
</div>
