<div id="<%= dom_id version %>">
  <p>
    <strong>User:</strong>
    <%= version.user.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= version.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= version.description %>
  </p>

  <% if version.link.attached? %>
    <div>
      <%= link_to "Download version", rails_blob_url(version.link, disposition: "attachment") %>
    </div>

    <div>
      <%= link_to "View version", rails_blob_url(version.link, disposition: "inline"), target: "_blank" %>
    </div>

  <% else %>
    <p>There is no file attached to this version. Update version to add an attachment.</p>
  <% end %>

</div>
