<div id="<%= dom_id version %>">
  <p>
    <strong>User:</strong>
    <%= version.user.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= version.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= version.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= version.link %>
  </p>

</div>
