<div id="<%= dom_id version %>">
  <p>
    <strong>User:</strong>
    <%= version.user.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= version.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= version.description %>
  </p>

  
  <% if version.link.attached? %>
    <span>
      <%= link_to "View", rails_blob_url(version.link, disposition: "inline"), target: "_blank" %>
    </span>

    <span>
      <%= link_to "Download", rails_blob_url(version.link, disposition: "attachment") %>
    </span>

    <span>
      <%= link_to "Share", rails_blob_url(version.link, host: request.base_url), target: "_blank" %>
    </span>

  <% else %>
    <p class="fst-italic">No file to download. Update to add an attachment.</p>
  <% end %>

  <% if version.folder.default_version != version %>
    <div id="make-default">
      <%= button_to "Make default", make_default_path(version.id), method: :get, class: "btn btn-sm btn-outline-success", data: { turbo: false } %>
    </div>
  <% end %>

</div>
