<p style="color: green"><%= notice %></p>

<%= render @version %>

<div>
  <%= link_to "Edit this version", edit_version_path(@version) %> |
  <%= link_to "All versions of #{@version.folder.name}", folder_path(@version.folder_id) %>

  <%= button_to "Destroy this version", @version, method: :delete %>
</div>
